{
    "root": true,
    "env": {
        "node": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": ["prettier", "@typescript-eslint"],
    "extends": [
        "standard",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-console": ["error", { "allow": ["info", "error"] }],
        "no-useless-constructor": "off",
        "object-shorthand": "error",
        "prettier/prettier": "error",
        "prefer-template": "error",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-destructuring": "warn"
    }
}
